extends layout

block content
  #bookHeader
    h1= title
    #options
      div
        a#takeNotes Enter Note Mode
      div
        label
          input.optionCheckbox(type='checkbox', ng-model='showVerseNum')
          | Show Verse Numbers
  .row-fluid
    #scripture.span6.offset3(ng-class="{noVerseNumbers: !showVerseNum}")
      span.verse(ng-repeat="verse in verses", id="{{verse.verse}}")
        span.verseNumber {{verse.verse}}
        span.verseText(ng-bind-html="verse.text")
    #loading(ng-show="!verses.length")
      Loading...
  script
    var thePassage = '!{title}';
    document.getElementById('takeNotes').setAttribute('href', location.href + '/takeNotes/');
