extends layout

block content
  #bookHeader
    h1= title
    #options
      div
        a#takeNotes Enter Note Mode
      div
        label
          input#showVerseNumbers(type='checkbox', ng-model='showVerseNum')
          | Show Verse Numbers
  .row-fluid
    #scripture.span6.offset3(ng-class="{noVerseNumbers: !showVerseNum}")
      span.verse(ng-repeat="todo in verses", id="{{todo.verse}}")
        span.verseNumber {{todo.verse}}
        span.verseText(ng-bind-html="todo.text")
  script
    var thePassage = '!{title}';
    document.getElementById('takeNotes').setAttribute('href', location.href + '/takeNotes/');
