doctype 5
html(ng-app="App", lang="en")
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller="BibleNoteCtrl")
    header#header
      .wrapper
        #title.pull-left
          a(href='/') BibleNote.com
        #account.pull-right
          a(href='/login') Log in
        .clear
    .wrapper
      block content
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js')
    script(src='/javascripts/vendor/angular-sanitize.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(src='/javascripts/app.js')
    script
      if(!notes) var notes = false;
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/services.js')
