extends layout

block content
  .row-fluid
    .span12
      ul
        li
          a(href='/auth/singly/facebook') Login with Singly via Facebook
        li
          a(href='/auth/singly/foursquare') Login with Singly via Foursquare
        li
          a(href='/auth/singly/instagram') Login with Singly via Instagram
        li
          a(href='/auth/singly/twitter') Login with Singly via Twitter
