extends layout

block content
  header
    h1= title
    #options
      div
        label
          input#showVerseNumbers(type='checkbox', ng-model='showVerseNum')
          | Show Verse Numbers
  #takeNotes.row-fluid
    #scripture.span6(ng-class="{noVerseNumbers: !showVerseNum}")
      span.verse(ng-click="writeNote(todo)", ng-repeat="todo in todos", id="{{todo.verse}}", ng-class="{highlight: todo.writingNoteFor}")
        span.verseNumber {{todo.verse}}
        span.verseText(ng-bind-html="todo.text")
    #notes.span6
      .row-fluid(ng-hide="writingFor")
        .span12 Select a verse to take a note
      .row-fluid(ng-show="writingFor")
        .span12 Writing a note for verse {{writingFor.verse}}:
        .span12
          textarea#noteTextarea(ng-model='writingFor.note')
      .row-fluid
        .span12
          | When you're done, click 
          a(ng-click="saveNotes()") here
          |  to save your notes
  script
    var theText = !{JSON.stringify(theText)};
    var thePassage = '!{thePassage}';
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js')
