extends layout

block content
  form#sermonData
    fieldset
      div
        input#sermonTitle(type='text', placeholder='Title', required)
      div
        input#sermonSpeaker(type='text', placeholder='Speaker', required)
      .takeNotes
        textarea#noteTextArea(ng-model='currentNote', placeholder='Take Notes Here...')
      div
        button.btn(ng-click='saveNote()') Save Note
  .row-fluid#showNotes
    .span12(ng-show="notes.length")
      .note(ng-repeat="note in notes", id="note{{note.id}}")
        span {{note.text}}
    .span12.noMarginLeft(ng-hide="notes.length") Notes will appear here

block controllerScript
  script(src='/javascripts/sermonNoteController.js')
