extends layout

block content
  header
    h1= title
    #options
      div
        label
          input#showVerseNumbers(type='checkbox', ng-model='showVerseNum')
          | Show Verse Numbers
  #takeNotes.row-fluid
    #scripture.span6(ng-class="{noVerseNumbers: !showVerseNum}")
      span.verse(ng-click="writeNote(todo)", ng-repeat="todo in todos", id="{{todo.verse}}")
        span.verseNumber {{todo.verse}}
        span.verseText(ng-bind-html="todo.text")
    #notes.span6
      textarea(ng-model='note')
  script
    var theText = !{JSON.stringify(theText)};
    var thePassage = '!{thePassage}';
