extends layout

block content
  header
    h1= title
    #options
      div
        label
          input#showVerseNumbers(type='checkbox', ng-model='showVerseNum')
          | Show Verse Numbers
  #takeNotes.row-fluid
    #scripture.span6(ng-class="{noVerseNumbers: !showVerseNum}")
      span.verse(ng-click="writeNote(todo)", ng-repeat="todo in todos", id="{{todo.verse}}", ng-class="{highlight: todo.writingNoteFor}")
        span.verseNumber {{todo.verse}}
        span.verseText(ng-bind-html="todo.text")
    #notes.span6
      .row-fluid(ng-hide="verseSelected")
        .span12 Select a verse to get started
      .row-fluid(ng-show="verseSelected")
        .span12 Writing a note for verse {{writingFor.verse}}:
      textarea#note(ng-model='note', ng-show='writingFor')
  script
    var theText = !{JSON.stringify(theText)};
    var thePassage = '!{thePassage}';
