extends layout

block content
  #bookHeader
    h1= title
    #options
      div
        label
          input#showVerseNumbers(type='checkbox', ng-model='showVerseNum')
          | Show Verse Numbers
  #takeNotes.row-fluid
    #scripture.span6(ng-class="{noVerseNumbers: !showVerseNum}")
      span.verse(ng-click="writeNote(todo)", ng-repeat="todo in verses", id="{{todo.verse}}", ng-class="{activeHighlight: todo.writingNoteFor, hasNoteHighlight: todo.note.length}")
        span.verseNumber {{todo.verse}}
        span.verseText(ng-bind-html="todo.text")
    #notes.span6
      .row-fluid(ng-hide="writingFor")
        .span12 Select a verse to take a note
      .row-fluid(ng-show="writingFor")
        .span12 Writing a note for verse {{writingFor.verse}}:
        .span12
          textarea#noteTextarea(ng-model='writingFor.note')
      .row-fluid
        .span12
          | When you're done, click 
          a(ng-click="saveNotes()") here
          |  to save your notes
        #linkSaved.span12.alert.alert-success.hidden
          button.close(type='button', data-dismiss='alert') x
          | High five! Your notes can be viewed at 
          a(href='{{notesLink}}') {{notesLink}}
  script
    var thePassage = '!{title}';
    var notes = true;
