header {
    text-align: center;
    &:first-letter {
        text-transform: uppercase;
    }
    #showVerseNumbers {
        vertical-align: top;
        margin-right: 5px;
    }
}
#scripture {
    margin-top: 10px;
    margin-bottom: 40px;

    &.noVerseNumbers > .verse > .verseNumber {
        display: none;
    }
}
#notes {
    margin-top: 10px;
    margin-bottom: 40px;
}
.verse {
    margin: 0px 3px;
    color: #333;
}
#takeNotes {
    #scripture {
        padding-right: 20px;
        border-right: 1px solid #999;
    }
    #notes {
    }
    .verse {
        cursor: pointer;
        &:hover {
            background-color: lightblue;
        }
        &.highlight {
            background-color: lightblue;
        }
    }
}
.verseNumber {
    margin-right: 3px;
    color: #666;
}
#noteTextarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
}
body {
    background-color: #FFF;
    color: #333;
}
#wrapper {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}
