header {
    text-align: center;
    &:first-letter {
        text-transform: uppercase;
    }
}
.verse {
    margin: 0px 3px;
    color: #333;
    display: inline-block;
    cursor: pointer;
    &:hover {
        background-color: lightblue;
    }
}
.verseNumber {
    margin-right: 3px;
    color: #666;
}
#note {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 320px;
}
#addNote {
    position: absolute;
}
