#bookHeader {
  text-align: center;
}
#bookHeader:first-letter {
  text-transform: uppercase;
}
#bookHeader .optionCheckbox {
  vertical-align: top;
  margin-right: 5px;
}
#scripture {
  margin-top: 10px;
  margin-bottom: 40px;
}
#scripture.noVerseNumbers > .verse > .verseNumber {
  display: none;
}
.verse {
  margin: 0px 3px;
  color: #333;
}
.verse.ownLine {
  display: block;
  margin-bottom: 10px;
}
.takeNotes #scripture {
  padding-right: 20px;
  border-right: 1px solid #999;
}
.takeNotes .verse {
  cursor: pointer;
}
.takeNotes .verse:hover {
  background-color: #A1CAF1;
}
.takeNotes .verse.activeHighlight {
  background-color: #A1CAF1;
}
.takeNotes #noteTextArea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
}
.verseNumber {
  margin-right: 3px;
  color: #666;
}
body {
  background-color: #FFF;
  color: #333;
}
.wrapper {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}
#header {
  background-color: #0088cc;
  min-height: 30px;
  margin-bottom: 20px;
}
#header #title {
  font-size: 2.5em;
  margin: 15px 0px;
}
#header #account {
  margin-top: 15px;
}
#header a {
  color: white;
}
.clear {
  clear: both;
}
.noMarginLeft {
  margin-left: 0px !important;
}
.inline {
  display: inline !important;
}
.marginRight {
  margin-right: 10px;
}
